<section class="content">
	<img src="%=static=%img/content/Rectangle 44 (2).jpg" alt="Изображение" class="content__img">
	<div class="content__info">
		<a href="#" class="content__link">
			<h2 class="content__title">Просторные квартиры с гардеробными →</h2>
		</a>
		<br>
		<p class="content__text">Жилой комплекс «Новый город» расположен в одном из самых динамично развивающихся
			районов Обнинска - Заовражье. Несмотря на близость к центру (5 минут езды до ТРК «Триумф Плаза»), место
			здесь тихое и спокойное.
			<br><br>
			Архитектура и дизайн комплекса — яркий пример удачного сочетания классических традиций строительства с
			современными материалами и технологиями. Территория микрорайона разделена на ряд благоустроенных зон с
			детскими игровыми площадками, спортивными тренажерами и прогулочными дорожками</p>
	</div>
</section>