<section class="slider">

    <div class="slider__header">
        
        <h1 class="slider__header-text">Предложения и акции</h1>
        
        <div class="arrow arrow--desktop">
            <a href="#" class="arrow__link arrow__link--left">
                {{Icon iconName='arrow' className='arrow__img'}}
            </a>
            <a href="#" class="arrow__link arrow__link--right">
                {{Icon iconName='arrow' className='arrow__img'}}
            </a>
        </div>

    </div>
    
    <ul class="slider__list">
        <li class="slider__item">
            <img src="%=static=%img/content/image 1.jpg" alt="Изображение" class="slider__img">
            <h3 class="slider__title">Карта привилегий «Новый город»</h3>
        </li>
        <li class="slider__item">
            <img src="%=static=%img/content/image 2.jpg" alt="Изображение" class="slider__img">
            <h3 class="slider__title">Бесплатное такси в офис продаж Нового города</h3>
        </li>
        <li class="slider__item">
            <img src="%=static=%img/content/image 3.jpg" alt="Изображение" class="slider__img">
            <h3 class="slider__title">Квартиры с отделкой от застройщика</h3>
        </li>
        <li class="slider__item">
            <img src="%=static=%img/content/image 1.jpg" alt="Изображение" class="slider__img">
            <h3 class="slider__title">Карта привилегий «Новый город»</h3>
        </li>
        <li class="slider__item">
            <img src="%=static=%img/content/image 2.jpg" alt="Изображение" class="slider__img">
            <h3 class="slider__title">Бесплатное такси в офис продаж Нового города</h3>
        </li>
    </ul>

    <div class="arrow arrow--mobile">
        <a href="#" class="arrow__link arrow__link--left">
            {{Icon iconName='arrow' className='arrow__img'}}
        </a>
        <a href="#" class="arrow__link arrow__link--right">
            {{Icon iconName='arrow' className='arrow__img'}}
        </a>
    </div>

    <a href="#" class="button button--slider">Узнать больше</a>

</section>